.forms {
    display: flex;
    justify-content: space-evenly;
}

.form {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.form input {
    padding: 0 10px;
    height: 2.5rem;
    width: 15rem;
    border: 1px solid rgba(255, 255, 255, 0.549);
    border-radius: 5px;
    background: none;
    color: white;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.buttons .resetbtn {
    background-color: transparent;
    border: none;
    transition: color 0.3s;
}

.buttons .resetbtn:hover {
    background-color: transparent;
    color: black;
}